/*RESET*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* GENERAL */
.container {
    max-width: 980px;
    margin: 0 auto;
}

strong{
    display: block;
 }

 .red{
    color: red;
 }

 .small{
    font-size: 13px;
 }


/* HEADER */
header {
    background-color: #FF6900;
    color: white;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.header-nav.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: #FF6900;
}

.logo img{
    width: 180px;
}

.nav-left ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.nav-left ul a{
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

nav > i{
    margin: 0 4px;
}


/* MAIN */
main{
    padding-top: 80px;
}

.container-large.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 500px;
}

.img-container{
    width: 320px;
    height: 600px;
}

.container-large div > img{
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}


div.img-container{
    position: relative;
}

.img-back{
    position: absolute;
    top: 0;
    opacity: 0;
    transition: 0.2s opacity;
}

.img-container:hover .img-back{
    opacity: 1;
}

.heart{
    position: absolute;
    top: 25px;
    right: 0px;
    background-color: #FFFFFF;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.tag-container{
    position: absolute;
    bottom: 140px;
}

.tag-red{
    background-color: #FF0000;
    padding: 2px;
    color: white;
    margin-right: 2px;
}

.tag-green{
    background-color: #008000;
    padding: 2px;
    color: white;
}


 /* FOOTER */
 footer{
    background-color: #1A1A1A;
    color: white;
 }

 .footer-container.container{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
 }

 .left > strong{
    margin-bottom: 15px;
 }

 .left > span{
    margin-left: 5px;
 }

 .right div > i{
    margin: 3px;
    margin-top: 15px;
 }
